pip==19.0.3
bumpversion==0.5.3
wheel==0.33.1
watchdog==0.9.0
flake8==3.5.0
tox==3.7.0
coverage==4.5.1
Sphinx==1.8.1
twine==1.13.0
sphinx-click==2.2.0
sphinxcontrib-napoleon==0.7

pytest==4.3.0
pytest-runner==4.2

Click==7.0
requests==2.21.0
scipy==1.2.1
numpy==1.16.2
pandas==0.24.1
matplotlib==3.0.3
seaborn==0.9.0
